body {
    max-width: 1024px;
    min-width: 600px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
header {
    position: fixed;
    height: 100px;
    width: 100%;
    max-width: 1024px;
    background-color: lightgrey;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-between;
}

.logo {
    flex-direction: row;
    flex-basis: 20%;
    align-items: center;
}

.menu {
    display: flex;
    flex-basis: 80%;
    align-items: center;
}

.menu-item {
    justify-content: space-between;
}

.main {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.main-item {
    display: block;
    padding-top: 100px;
}

